<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booky - @ViewData["Title"]</title>
  <link rel="icon" type="image/x-icon" href="~/favicon.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
<header class="max-h-[100px] fixed right-0 left-0 w-full top-0 z-[100]">
    <nav class="py-2 h-full w-full navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 top-0">

        <div class="container-fluid flex flex-row space-x-3" >
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                <img height="100" width="200" src="~/icon.png" alt="Bookly">
            </a>
            <nav class="px-[10%] py-4 w-full">
                <ul class="flex gap-8">
                    <li class="cursor-pointer hover:opacity-70"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class=" cursor-pointer hover:opacity-70"><a asp-area="" asp-controller="Books" asp-action="Index" >List books</a></li>
                    <li class="cursor-pointer hover:opacity-70"><a asp-area="" asp-controller="Home" asp-action="About" >About</a></li>
                    <li class="cursor-pointer hover:opacity-70"><a asp-area="" asp-action="Login" asp-controller="Users" >Signin</a></li>
                </ul>
            </nav>
            @* <div class="flex flex-row items-center justify-center space-x-3 font-mono"> *@
            @*     <div class="w-10/12"> *@
            @*         <a class="nav-link text-2xl align-middle" asp-area="" asp-controller="Books" asp-action="Index">Books</a> *@
            @*         <a class="nav-link text-2xl align-middle" asp-area="" asp-controller="Authors" asp-action="Index">Authors</a> *@
            @*         <a class="nav-link text-2xl align-middle" asp-area="" asp-controller="Publishers" asp-action="Index">Publishers</a> *@
            @*     </div> *@
            @*     <div class="w-2/12"> *@
            @*         <a class="nav-link text-2xl align-middle" asp-area="" asp-controller="Users" asp-action="Login">Login</a> *@
            @*         <a class="nav-link text-2xl align-middle" asp-area="" asp-controller="Users" asp-action="Register">Register</a> *@
            @*     </div> *@
            @* </div> *@
        </div>
    </nav>
</header>
<div  class="h-[100px]"></div>
        <main role="main" class="pt-4">
            @RenderBody()
        </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Bookly - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
