<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookly</title>
  <link rel="icon" type="image/x-icon" href="~/favicon.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Bookly - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $("#search").keyup(function() {
    var inputValue = $(this).val();
    $.ajax({
        type: "GET",
        contentType: "application/json",
        url: "/Books/Search/"+inputValue,
        success: function(response) {
            console.log(inputValue)
            console.log(response)
        },
        error: function(error) {
            console.log(error);
        }
    });
  });
});

</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
