<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookly</title>
  <link rel="icon" type="image/x-icon" href="~/favicon.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid flex flex-row space-x-3" style="background-color: #df404d; color: #1b1f44">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img height="100" width="200" src="~/icon.png" alt="Bookly">
                </a>
                <div class="flex flex-row items-center justify-center space-x-3 font-mono">
                    <a class="nav-link text-2xl align-middle" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                    <a class="nav-link text-2xl align-middle" asp-area="" asp-controller="Authors" asp-action="Index">Authors</a>
                    <a class="nav-link text-2xl align-middle" asp-area="" asp-controller="Publishers" asp-action="Index">Publishers</a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <Books class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </Books>
                </div>
            </div>
        </nav>
    </header>
    <div class="container m-3">
        <main role="main" class="pb-3 m-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Bookly - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
